@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand&display=swap');

html {
position: relative;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#wrapper {
    overflow-x: hidden;
	width: 100%;
	position: relative;
}

/* --------------------- Colours */

#navbar-bg {
    background: #302020;
}

#info-teaser {
    background: orange;
}

#hero-image {
    height: 60vh;
}

#social-links {
    background: #302020;
}

#location-time {
    background: crimson;
}

#comp-reg {
    background: darkred;
}

/* --------------------- Fonts and general styles */
/* font-family: 'Quicksand', sans-serif; for headers */
#navbar-logo {
    font-family: 'Quicksand', sans-serif; 
    font-size: 26px;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* font-family: 'Nanum Gothic', sans-serif; for general */

/* --------------------- Header */

#navbar-logo,
.nav-item a {
    color: white;
}

/* --------------------- Hero Image */

/* --------------------- Footer */
#social-links a,
#location-time i,
#comp-reg i {
    color: white;
    margin: 2.5rem;
    font-size: 40px;
}

.divider {
    background: white;
    width: 50%;
}



/* --------------------- Buttons */