@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#wrapper {
    overflow-x: hidden;
	width: 100%;
	position: relative;
}

/* --------------------- Colours */

#info-teaser {
    background: orange;
    height: 400px;
}

#hero-image {
    background: red;
    height: 400px;
}

#social-links {
    background: brown;
    height: 200px;
}

#location-time {
    background: crimson;
    height: 200px;
}

#comp-reg {
    background: darkred;
    height: 200px;
}

/* --------------------- Fonts and general styles */
/* font-family: 'Quicksand', sans-serif; for headers */
/* font-family: 'Nanum Gothic', sans-serif; for general */

/* --------------------- Header */

/* --------------------- Hero Image */

/* --------------------- Footer */

/* --------------------- Buttons */